$prefix: beplus-advanced-reviews-for-woocommerce;

.#{$prefix}__stars {
	display: inline-flex;
	gap: 1px;
}

.#{$prefix}__star {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;

	svg {
		width: 100%;
		height: 100%;
	}

	&--filled {
		color: var(--bpar-primary);
	}

	&--empty {
		color: var(--bpar-star-empty);
	}
}
